body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    min-height: 100vh;
    
}
/* La partie suivante est résever au background de la page */
.backPage {
   
    height: 100vh;
    background: black;
   
}
.hex {
    background: url(./Hexagon.png) repeat ;
    position: absolute;
    margin-top: 0;
    padding-top: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: 1;
    
    
}
.mouseMove {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    background: linear-gradient(90deg,#a100fe 0%,#03f738 100%);
    filter: blur(20px);
    z-index: 0;
}
/* Fin du background */

/* La partie suivante est résever au titre */
.title {
    position: absolute;
    z-index: 2;
    color: white;
    left: 100px;
    top: 30px;
    font-size: 5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
    .J,.H,.f {
        color: #a100fe ;
            
            
    }
/* Fin de la partie réserver au titre */

/* Toute la partie suivante est réserver au bouton contacter moi */
.contacterMoi {
    width: 200px;
    height: 60px;
    font-size: 1.5rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    position: relative;
    color: white;
    z-index: 2;
    border: 1px solid #892cdc;
    background: black;
    overflow: hidden;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 450px;
    left: 200px;
    border-radius: 10px;
    box-shadow: 0px 0px 50px 1px rgb(0, 255, 38);

}
.contacterMoi::before {
    content: '';
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #892cdc;
    border-radius: 50% 50% 0% 0%;
    z-index: -1;
    transition: all .5s;
  }
  .contacterMoi:hover::before {
    top: 0px;
    border-radius: 0;
  }
/* Fin de la partie bouton contacter moi */
 