@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  position: absolute;
  width: 100%;
  height: 70px;
  top: 0px;
  z-index: 5;
  background: #ffeff1;
  font-family: "Ibarra Real Nova", serif;
  border-bottom: 1px solid rgba(166, 146, 169, 0.527);
  -webkit-animation-name: apparition;
          animation-name: apparition;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

@-webkit-keyframes apparition {
  from {
    top: -100px;
  }
  to {
    top: 0px;
  }
}

@keyframes apparition {
  from {
    top: -100px;
  }
  to {
    top: 0px;
  }
}

header #side-bar, header .logo_fb_insta2 {
  display: none;
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 100px 0px 50px;
  list-style: none;
  letter-spacing: 0.2em;
}

header .fb, header .insta {
  color: black;
  margin-left: 40px;
  margin-top: 10px;
}

header .title_nav {
  font-size: 1.1rem;
}

header .menu li a {
  font-size: 1.6rem;
  text-decoration: none;
  color: #2a4284;
}

header .menu li a:hover {
  color: #bda845;
}

@media all and (max-width: 991px) {
  header .logo_fb_insta2 {
    display: block;
    text-align: end;
    margin-right: 40px;
    font-family: "Ibarra Real Nova", serif;
  }
  header .fb2, header .insta2 {
    margin-left: 10px;
    margin-top: 10px;
    color: black;
  }
  header .title_nav2 {
    font-size: 1.5em;
    color: #2a4284;
  }
  header .menu {
    display: none;
  }
  header #side-bar {
    display: block;
    position: absolute;
    width: 100%;
    height: 200px;
    background: #ffeff1;
    top: 71px;
    left: -100%;
    -webkit-transition: 0.8s ease-out;
    transition: 0.8s ease-out;
    z-index: 4;
  }
  header .toggle-btn {
    position: fixed;
    top: 10px;
    left: 10px;
    cursor: pointer;
    height: 40px;
    width: 40px;
  }
  header .toggle-btn span {
    width: 40px;
    height: 6px;
    border-radius: 5px;
    background: #2a4284;
    display: block;
    margin-top: 5px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  header li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #2a4284;
    text-align: center;
    margin-top: 10px;
    list-style: none;
    text-decoration: none;
    font-size: 1.5rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    cursor: pointer;
    padding-left: 5px;
  }
  header li a:hover {
    color: #bda845;
  }
  header #side-bar.active {
    left: 0%;
    top: 71px;
  }
  header .active span {
    position: absolute;
    top: 10px;
  }
  header .active span:nth-child(1) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  header .active span:nth-child(2) {
    opacity: 0;
  }
  header .active span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  header .active ~ .content {
    opacity: 0.3;
  }
}

.page_presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation-name: apparitionpage;
          animation-name: apparitionpage;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes apparitionpage {
  from {
    opacity: 0;
  }
}

@keyframes apparitionpage {
  from {
    opacity: 0;
  }
}

.page_presentation to {
  opacity: 1;
}

@media screen and (max-width: 900px) {
  .page_presentation {
    font-size: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-align: center;
  }
}

.rose_pick {
  position: relative;
}

@media screen and (max-width: 1220px) {
  .rose_pick {
    top: -200px;
  }
}

.presentation_pick {
  position: relative;
  left: 100px;
  width: 400px;
  top: 300px;
  z-index: 2;
  -webkit-transition: 2s;
  transition: 2s;
}

@media screen and (max-width: 1220px) {
  .presentation_pick {
    width: 60%;
    top: 450px;
  }
}

@media screen and (max-width: 1030px) {
  .presentation_pick {
    top: 250px;
  }
}

@media screen and (max-width: 900px) {
  .presentation_pick {
    top: 350px;
    left: 0;
    width: 250px;
  }
}

#text_presentation {
  position: relative;
  top: -120px;
  width: 40%;
  left: 100px;
  height: 100%;
  font-family: "Ibarra Real Nova", serif;
  font-size: 1.3rem;
  text-align: center;
  right: 50px;
  color: #2a4284;
  margin-right: 10%;
}

#text_presentation h1 {
  font-family: "Pinyon Script", cursive;
  letter-spacing: 0.3rem;
  color: rgba(166, 146, 169, 0.527);
}

@media screen and (max-width: 1500px) {
  #text_presentation {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 1230px) {
  #text_presentation {
    top: -60px;
    left: 0;
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  #text_presentation {
    width: 120%;
  }
}

@media screen and (max-width: 900px) {
  #text_presentation {
    width: 98%;
    left: 0;
    top: 50px;
    margin-right: 0;
  }
}

.rose_deco {
  position: relative;
  top: 450px;
  left: -35%;
}

@media screen and (max-width: 1220px) {
  .rose_deco {
    left: -31%;
    top: 600px;
  }
}

@media screen and (max-width: 1030px) {
  .rose_deco {
    top: 300px;
  }
}

@media screen and (max-width: 1001px) {
  .rose_deco {
    left: 30%;
    top: 250px;
  }
}

@media screen and (max-width: 900px) {
  .rose_deco {
    display: none;
  }
}

.rose_deco2 {
  position: relative;
  top: 150px;
}

@media screen and (max-width: 1220px) {
  .rose_deco2 {
    width: 300px;
    top: 80px;
  }
}

.block_decoration {
  position: relative;
  height: 500px;
  width: 2px;
  left: 700px;
  top: -200px;
  background: rgba(166, 146, 169, 0.527);
  -webkit-animation-name: blockapparition;
          animation-name: blockapparition;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

@media screen and (max-width: 1500px) {
  .block_decoration {
    left: 650px;
  }
}

@media screen and (max-width: 1230px) {
  .block_decoration {
    left: 450px;
  }
}

@media screen and (max-width: 1030px) {
  .block_decoration {
    display: none;
  }
}

@-webkit-keyframes blockapparition {
  from {
    height: 0px;
  }
  to {
    height: 500px;
  }
}

@keyframes blockapparition {
  from {
    height: 0px;
  }
  to {
    height: 500px;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Ibarra Real Nova", serif;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid black;
  padding: 50px;
  padding-bottom: 0px;
  margin: 50px;
  margin-bottom: 0px;
  font-size: 1.2rem;
  color: grey;
  height: 0%;
}

.contact {
  position: relative;
}
/*# sourceMappingURL=presentation.css.map */