$colorpink: rgb(255, 239, 241);
$colorpurple: rgba(166, 146, 169, 0.527);
$coloror: #bda845;
$colorblue: #2a4284;
$titleFont : 'Pinyon Script', cursive;
$textfont : 'Ibarra Real Nova', serif;
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
  position: absolute;
  width: 100%;
  height: 70px;
  top: 0px;
  background: $colorpink;
  font-family: $textfont;
  border-bottom: 1px solid $colorpurple;
  animation-name: apparition;
  animation-duration: 3s;
    @keyframes apparition {
      from{top: -100px;}
      to{top: 0px;}
    }

      #side-bar, .logo_fb_insta2 {
        display: none;
      }

        .menu {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 10px 100px 0px 50px;
          list-style: none;
          letter-spacing: 0.2em;
      }
        .fb, .insta {
          color: black;
          margin-left: 40px;
          margin-top: 10px;
        }
          .title_nav {
            font-size: 1.1rem;
          }
            .menu li a {
              font-size: 1.6rem;
              text-decoration: none;
              color: $colorblue;
                &:hover {
                  color: $coloror;
                }
            }
            @media all and (max-width: 991px){
              .logo_fb_insta2 {
                display: block;
                text-align: end;
                margin-right: 40px;
                font-family: $textfont ;
              }
              .fb2, .insta2 {
                margin-left: 10px;
                margin-top: 10px;
                color: black;
              }
              .title_nav2 {
                font-size: 1.5em;
                color: $colorblue;
              }
              .menu {
                  display: none;
              }
              #side-bar {
                  display: block;
                  position: absolute;
                  width: 100%;
                  height: 200px;
                  background: $colorpink;
                  top: 71px;
                  left:-100%;
                  transition: 0.8s ease-out;
                  z-index: 4;
                }
                .toggle-btn {
                  position: fixed;
                  top: 10px;
                  left: 10px;
                  cursor: pointer;
                  height: 40px;
                  width: 40px;
                }
                .toggle-btn span {
                  width: 40px;
                  height: 6px;
                  border-radius: 5px;
                  background: $colorblue;
                  display: block;
                  margin-top: 5px;
                  transition: 0.3s ease;
                }
                li a {
                  display: flex;
                  flex-direction: column;
                  color: $colorblue;
                  text-align: center;
                  margin-top: 10px;
                  list-style: none;
                  text-decoration: none;
                  font-size: 1.5rem;
                  justify-content: space-around;
                  cursor: pointer;
                  padding-left: 5px;
                    &:hover {
                      color: $coloror;
                    }
                }
                
                #side-bar.active {
                  left: 0%;
                  top: 71px;
                  
                }
                .active span {
                  position: absolute;
                  top: 10px;
                }
                .active span:nth-child(1) {
                  transform: rotate(45deg);
                }
                .active span:nth-child(2) {
                  opacity: 0;
                }
                .active span:nth-child(3) {
                  transform: rotate(-45deg);
                }
                .active ~ .content {
                  opacity: 0.3;
                }
          }
}
.page_presentation {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    animation-name: apparitionpage;
    animation-duration: 2s;
    @keyframes apparitionpage {
        from{opacity: 0;}
    }   to {
        opacity: 1;
    }
    @media screen and (max-width:900px){
       font-size: 1rem;
       flex-direction: column;
       justify-content: space-around;
       text-align: center;
       
    }

}
    .rose_pick {
        position: relative;
        @media screen and (max-width:1220px){
            top: -200px;
        }
    }
    .presentation_pick {
        position: relative;
        left: 100px;
        width: 400px;
        top: 300px;
        
        z-index: 2;
        transition: 2s;
        
        @media screen and (max-width:1220px){
            width: 60%;
            top: 450px;
        }
        @media screen and (max-width:1030px){
            top: 250px;
        }
        @media screen and (max-width:900px){
            top: 350px;
            left: 0;
            width: 250px;
        }
    }
        #text_presentation {
            position: relative;
            top: -120px;
            width: 40%;
            left: 100px;
            height: 100%;
            font-family: $textfont;
            font-size: 1.3rem;
            text-align: center;
            right: 50px;
            color: #2a4284 ;
            margin-right: 10%;
            h1 {
                font-family: $titleFont;
                letter-spacing: 0.3rem;
                color: $colorpurple;
            }
            @media screen and (max-width:1500px){
                font-size: 1.1rem;
            }
            @media screen and (max-width:1230px){
                top: -60px;
                left: 0;
                width: 100%;
            }
            @media screen and (max-width:1000px){
                width: 120%;
            }
            @media screen and (max-width:900px){
                width: 98%;
                left: 0;
                top: 50px;
                margin-right: 0;
                
            }
        
        }
            .rose_deco {
                position: relative;
                top: 450px;
                left: -35%;
                @media screen and (max-width:1220px){
                    left: -31%;
                    top: 600px;
                }
                @media screen and (max-width:1030px){
                    top: 300px;
                }
                @media screen and (max-width:1001px){
                    left: 30%;
                    top: 250px;
                }
                @media screen and (max-width:900px){
                    display: none;
                }
            }
            .rose_deco2 {
                position: relative;
                top: 150px;
                @media screen and (max-width:1220px){
                    width: 300px;
                    top: 80px;
                }
                
            }
            .block_decoration {
                position: relative;
                height: 500px;
                width: 2px;
                left: 700px;
                top: -200px;
                background: $colorpurple;
                animation-name: blockapparition;
                animation-duration: 5s;
                @media screen and (max-width:1500px){
                    left: 650px;
                }
                @media screen and (max-width:1230px){
                    left: 450px;
                }
                @media screen and (max-width:1030px){
                    display: none;
                }
                    @keyframes blockapparition {
                        from{
                            height: 0px;
                        } to {
                            height: 500px;
                        }
                    }

            }
            




        footer {
            display: flex;
            position: relative;
            flex-direction: column;
            font-family: $textfont;
            text-align: center;
            align-items: center;
            border-top: 1px solid black;
            padding: 50px;
            padding-bottom: 0px;
            margin: 50px;
            margin-bottom: 0px;
            
            
            font-size: 1.2rem;
            color: grey;
            
            height: 0%;
            
        }
        .contact {
            position: relative;
            
        }