$colorpink: rgb(255, 239, 241);
$colorpurple: rgba(166, 146, 169, 0.527);
$coloror: #bda845;
$colorblue: #2a4284;
$titleFont : 'Pinyon Script', cursive;
$textfont : 'Ibarra Real Nova', serif;
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
  position: absolute;
  width: 100%;
  height: 70px;
  top: 0px;
  z-index: 5;
  background: $colorpink;
  font-family: $textfont;
  border-bottom: 1px solid $colorpurple;
  animation-name: apparition;
  animation-duration: 2s;
    @keyframes apparition {
      from{top: -100px;}
      to{top: 0px;}
    }

      #side-bar, .logo_fb_insta2 {
        display: none;
      }

        .menu {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 10px 100px 0px 50px;
          list-style: none;
          letter-spacing: 0.2em;
      }
        .fb, .insta {
          color: black;
          margin-left: 40px;
          margin-top: 10px;
        }
          .title_nav {
            font-size: 1.1rem;
          }
            .menu li a {
              font-size: 1.6rem;
              text-decoration: none;
              color: $colorblue;
                &:hover {
                  color: $coloror;
                }
            }
            @media all and (max-width: 991px){
              .logo_fb_insta2 {
                display: block;
                text-align: end;
                margin-right: 40px;
                font-family: $textfont ;
              }
              .fb2, .insta2 {
                margin-left: 10px;
                margin-top: 10px;
                color: black;
              }
              .title_nav2 {
                font-size: 1.5em;
                color: $colorblue;
              }
              .menu {
                  display: none;
              }
              #side-bar {
                  display: block;
                  position: absolute;
                  width: 100%;
                  height: 200px;
                  background: $colorpink;
                  top: 71px;
                  left:-100%;
                  transition: 0.8s ease-out;
                  z-index: 4;
                }
                .toggle-btn {
                  position: fixed;
                  top: 10px;
                  left: 10px;
                  cursor: pointer;
                  height: 40px;
                  width: 40px;
                }
                .toggle-btn span {
                  width: 40px;
                  height: 6px;
                  border-radius: 5px;
                  background: $colorblue;
                  display: block;
                  margin-top: 5px;
                  transition: 0.3s ease;
                }
                li a {
                  display: flex;
                  flex-direction: column;
                  color: $colorblue;
                  text-align: center;
                  margin-top: 10px;
                  list-style: none;
                  text-decoration: none;
                  font-size: 1.5rem;
                  justify-content: space-around;
                  cursor: pointer;
                  padding-left: 5px;
                    &:hover {
                      color: $coloror;
                    }
                }
                
                #side-bar.active {
                  left: 0%;
                  top: 71px;
                  
                }
                .active span {
                  position: absolute;
                  top: 10px;
                }
                .active span:nth-child(1) {
                  transform: rotate(45deg);
                }
                .active span:nth-child(2) {
                  opacity: 0;
                }
                .active span:nth-child(3) {
                  transform: rotate(-45deg);
                }
                .active ~ .content {
                  opacity: 0.3;
                }
          }
}
section {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  @media all and (max-width: 991px){      
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
  }
    #rose_pick{
      display: flex;
      flex-direction: column;
      margin-top: 100px;
      align-items: center;
    }
      .Gloire_pick {
        width: 350px;
        height: 450px;
        box-shadow: 0px 0px 20px 10px $colorpurple;
        animation-name: apparitionpick;
        animation-duration: 2s;
          @keyframes apparitionpick {
            from {height: 0;}
            to {height:  450px;
            }
          }
          @media all and (max-width: 991px){      
            width: 200px;
            height: 250px;
            @keyframes apparitionpick {
              from {height: 0;}
              to {height:  250px;
              }
            }
          }
      }
        .rose_deco{
          width: 60%;
        }
          #center_page_decoration {
            width: 1px;
            height: 700px;
            margin-top: 80px;
            background: $coloror;
            margin: 10px;
            animation-name: agrandissement;
            animation-duration: 2s;
              @keyframes agrandissement  {
                from {height: 0px;}
                to{height: 700px;}
              }
              @media all and (max-width: 991px){      
                height: 1px;
                width: 80%;
                @keyframes agrandissement  {
                  from {width: 0px;}
                  to{width: _àù;}
                }
              }
          }
            article {
              width: 700px;
              font-family: $textfont;
              font-size: 1.2rem;
              text-align: center;
              
              color: $colorblue;
              animation: aparitiontext;
              animation-duration: 4s;
                @keyframes aparitiontext {
                  from{opacity: 0;}
                  to{opacity: 1;}
                }
              h1 {
                font-family: $titleFont;
                margin-top: -50px;
              }
              .rose_deco2{
                width: 200px;
              }
              @media all and (max-width: 991px){      
                width: 90%;
              }
            }
              
}

            




        footer {
            display: flex;
            position: relative;
            flex-direction: column;
            font-family: $textfont;
            text-align: center;
            align-items: center;
            border-top: 1px solid black;
            padding: 50px;
            padding-bottom: 0px;
            margin: 50px;
            margin-bottom: 0px;
            
            
            font-size: 1.2rem;
            color: grey;
            
            height: 0%;
            
        }
        .contact {
            position: relative;
            
        }
        .logo {
          color: black;
        }